* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: none;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.container {
    border: 1px solid #0077b3;
    max-width: 600px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #008ad0;
    color: #fff;
}

.header__title {
    text-align: start;
    padding: 10px 20px;
}

.main {
    width: 599px;
    height: 77.6vh;
    overflow-y: auto;
}

.main__output {
    width: fit-content;
    display: flex;
    margin: 5px;
    padding: 10px 20px;
    border-radius: 15px;
    color: black;
}

.sender__name {
    color: #008ad0;
    margin-right: 5px;
}

.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

input {
    border: none;
    border-top: 1px solid #008ad0;
    padding: 10px 20px;
}

#btn {
    border: none;
    cursor: pointer;
    background-color: #008ad0;
    color: #fff;
}

#btn:hover {
    background-color: #0077b3;
}